.page2__natali__wrap {
    background-image: url(../../assets/page2/chess_2.png);
    background-repeat: no-repeat;
    height: 138.9em;
    padding: 1.25em 1.25em 0 0;
}

.page2__photo__natali {
    background-image: url(../../assets/page2/Natali_2.png);
    width: 549px;
    height: 866px;
    flex-shrink: 0;
    margin-top: 202px;
    float: left;
    margin-bottom: 116px;
}

.page2__float__photo {
    color: white;
    margin: 347px 114px 0 623px;
}

.page2__experience__flex {
    display: flex;
    justify-content: space-between;
    height: 87px;
    flex-direction: row;
    text-align: center;
    padding: 0;
}

.page2__profile__wrap {
    padding: 0;
}

.page2__profile__head li:nth-of-type(2n+1) {
    color: var(--white, #FFF);
    font-family: Liana;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
}

.page2__profile__head {
    padding: 0;
    text-align: left;
}

.page2__profile__head li:nth-of-type(2n) {
    color: var(--sun, #FFE49A);
    font-family: Liana;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
}

#page2__expereanse {
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
    text-align: left;
    margin: 68px 0 42px 0;
}

.page2__experience__old {
    color: var(--lite-gold, #D2B281);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.page2__experience__flex li {
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
    white-space: nowrap;
}

.page2__experience__flex li:nth-of-type(2) {
    margin: 0 85px;
}

.page2__principles {
    color: var(--lite-gold, #D2B281);
    font-family: Poiret One;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    clear: left;
    text-align: left;
    margin-left: 79px;
    margin-bottom: 104px;
}

.page2__principles__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    text-align: left;
}

.page2__grid__li {
    width: 409px;
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
}

#page2__img__exellend {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 24px;
}

.page2__grid__li div:nth-of-type(1) {
    height: 100px;
    float: left;
}

.page2__principles__grid ul:nth-of-type(2n) {
    margin-left: 170px;
    margin-right: 98px;
}

.page2__principles__grid ul:nth-of-type(2n+1) {
    margin-left: 30px;
}


.page2__principles__grid ul {
    margin-bottom: 74px;
}