.page9__wrap {
    position: relative;
    background-image: url(../../assets/page9/monochrome.png);
    height: 1993px;
    flex-shrink: 0;
    justify-content: center;
    background-repeat: no-repeat;
    padding-top: 262px
}

.page9__card {
    margin: 0 80px;
    width: 969px;
    height: 450px;
    flex-shrink: 0;
    border: 1px solid #E7C9A3;
    padding: 109px;
}

.page9__card__head {
    position: relative;
    color: var(--white, #FFF);
    font-family: Poiret One;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 495px;
    text-align: left;
    float: left;
}

.page9__card__photo {
    position: absolute;
    right: 0;
    top: 159px;
    width: 682px;
    height: 772px;
    flex-shrink: 0;
}

.page9__card__ul {
    width: 734px;
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
    padding: 0;
}

.page9__card__li {
    margin-bottom: 40px;
}

.page9__card__ul li:nth-of-type(1) {
    margin-top: 104px;
}

.page9__card__span {
    color: var(--sun, #FFE49A);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
}

.page9__head__form {
    color: var(--lite-gold, #D2B281);
    font-family: Poiret One;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-left: 80px;
    margin-top: 153px;
}

.page9__text__form {
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.2%;
    margin-left: 80px;
    margin-top: 60px;
    width: 496px;
    text-align: left;
}

.page9__head__wrap {
    float: left;
    height: 900px;
}

.page9__form {
    color: white;
    margin-top: 345px;
    width: 695px;
}

.page9__form__button {
    display: flex;
    width: 11.3em;
    height: 3.2em;
    padding: 1em 4em;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    flex-shrink: 0;
    background: var(--sun_gold, #FFD89D);
    border: 0;
    color: #312F2F;
    box-shadow: 0px 4px 30px 0px #FFE49A;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin: 0 auto;
}

.page9__form__button:active {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--lite-gold, #D2B281);
    box-shadow: 0px 4px 30px 0px #FFE49A;

}

.page9__form__flex {
    display: flex;
    width: 753px;
}

.page9__lable {
    color: var(--lite-grey, #C5C4C4);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page9__input1 {
    font-size: 18px;
    width: 277px;
    margin-right: 24px;
    height: 32px;
    flex-shrink: 0;
    background: var(--lite-grey, #C5C4C4);
    margin-bottom: 36px;
}

.page9__input2 {
    font-size: 18px;
    width: 378px;
    height: 32px;
    flex-shrink: 0;
    background: var(--lite-grey, #C5C4C4);
    margin-bottom: 36px;
}

.page9__input3 {
    font-size: 18px;
    width: 687px;
    height: 32px;
    flex-shrink: 0;
    background: var(--lite-grey, #C5C4C4);
    margin-bottom: 36px;
}

.page9__textarea {
    font-size: 18px;
    width: 687px;
    height: 134px;
    flex-shrink: 0;
    background: var(--lite-grey, #C5C4C4);
    margin-bottom: 63px;
}

.page9__form__flex {
    display: flex;
}

.page9__wrap__btn {
    display: flex;
}

.page9__btn__social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin: 10px;
    background: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.page9__final__div {
    display: flex;
    justify-content: space-between;
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 300px 0 0;
    padding: 0;
    background: #000;
}

.page9__final__ul {
    padding: 0;
}

#page9__final__center {
    margin-top: 100px;
}

.page9__final__side,
.page9__wrap__btn {
    align-items: center;
    margin: 0 80px;
}

.page9__final__button {
    background-color: #000;
    border: 0;
    cursor: pointer;
    color: white;
}