.page7__main__wrap {
    position: relative;
    background-image: url(../../assets/page7/modern.png);
    justify-content: center;
    background-repeat: no-repeat;
    height: 1536px;
    padding-top: 202px;
    padding-left: 79px;
    padding-right: 79px;
}

.page7__head {
    color: var(--white, #FFF);
    font-family: Poiret One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.page7__head__span {
    color: var(--sun, #FFE49A);
    font-family: Poiret One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page7__ul__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
    margin-top: 65px;
    height: 1327px;
    margin-bottom: 0;
}

.page7__li__year {
    color: var(--sun, #FFE49A);
    font-family: Liana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.page7__li__text {
    width: 500px;
    text-align: left;
    color: var(--lite-grey, #C5C4C4);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.page7__li__ul {
    padding-left: 0;
}

.page7__text__ul,
.page7__li__year {
    margin-bottom: 101px;
}

.page7__img__disk {
    margin: 5px 36px;
    width: 20px;
    height: 19.799px;
    flex-shrink: 0;
}

.page7__vertical__line {
    position: absolute;
    left: 50%;
    top: 415px;
    transform: rotate(0deg);
    width: 1px;
    height: 1075.979px;
    background: var(--sun, #FFE49A);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.page7__disk__2023 {
    position: absolute;
    margin-left: 454px;
    top: 390px;
}

.page7__disk__2022 {
    position: absolute;
    margin-left: -45px;
    top: 840px;
}

.page7__disk__2020 {
    position: absolute;
    margin-left: 454px;
    top: 1195px;
}

.page7__disk__2019 {
    position: absolute;
    margin-left: -45px;
    top: 1455px;
}

#page7__li5,
#page7__li4,
#page7__li3 {
    height: 250px;
}

#page7__li6,
#page7__li7{
    height: 100px; 
    margin-bottom: 0;
}